In [1]:
for idx,value in enumerate ("hello"):
    print(idx,value)

0 h
1 e
2 l
3 l
4 o

In [2]:
for item in enumerate ("hello"):
    char,value=item
    print(item)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [12]:


def sum_two_numbers(y):
    x=2
    sum_two_numbers= x+y
    print(x)
    return x


x=3

In [10]:
print(x)

3

In [11]:
sum_two_numbers(5)

2

2

In [14]:
name= "Suhaila"

def outerFn():
    name = "ABC"
    
    
    def innerFn():
        print(name) #ABC
        
        
    innerFn()
    
    
outerFn()

print(name) # Suhaila

ABC
Suhaila

In [20]:
def any1(a,b,c,d=10):
    return a,b,c,d

a,b,c,d= any1(5,4,3,16)

In [21]:
print(a,b,c,d)

5 4 3 16

In [27]:
a,b,c,d= any1(5,2,3,6)
print(a,b,c,d)

5 2 3 6

In [35]:
any1(c=8,d=0,a=6,b=8)

(6, 8, 8, 0)

In [36]:
print(a,b,c,d)

5 2 3 6

In [41]:
def our_sum(a,b):
    
    """ 
    This Function:
    
        will take two inputs to be summed

    arguments:
    
        (a , b) can be numbers or strings 
    
    return: 
    
        Sum of the two inputs 
    
    """
    z= a+b
    return z

In [42]:
our_sum(6,10)

16

In [43]:
our_sum("Hel","lo")

'Hello'

In [53]:
class Employee:
    name= None
    salary = None
    age = None
    email = None
    adress = None